#!/usr/local/bin/zsh

## Git

# Amend last commit with staged files
alias gam='git commit --amend --no-edit'
alias gbrm='git branch --merged | egrep -v "(^\*|master|main|dev|test)" | xargs git branch -d'
alias gdstat='git --no-pager diff --shortstat'
git-collate-contribs () {
    git ls-files | grep -E '.*\.go'  | xargs -n1 git blame -w --show-email | perl -n -e '/^.*?\((.*?)\s+[\d]{4}/; print $1,"\n"' | sort -f | uniq -c | sort -n
}

## Virtualenv

# Activate virtualenv in current directory
alias venv='source .venv/bin/activate'

## Misc

# Remove all ANSI colors
alias rmcolor='sed -u -E "s/[[:cntrl:]]\[[0-9]{1,3}m//g"'

## Dates

# Return ISO 8601 representation of current date
alias dateiso='date --iso-8601'

# Return ISO 8601 representation of date without dashes (-)
alias datei='date --iso-8601 | sed s/-//g'

# Return datetime without timezone in a compressed format
alias datetime='date +"%Y%m%d-%H%M%S"'

## Linux command rewriting

routes () {
  echo Use "netstat -rn" instead.
  return 127
}
