[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Irvin Lim
	email = irvinlimweiquan@gmail.com
	signingkey = A2EF194D
[commit]
	template = ~/.stCommitMsg
	gpgsign = false
[gpg]
	program = gpg2
[init]
	templatedir = ~/.git-templates
[http]
	sslVerify = true
