[core]
	editor = 'vim'
	excludesfile = ~/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Irvin Lim
	email = irvinlimweiquan@gmail.com
	signingkey = A2EF194D
[commit]
	template = ~/.stCommitMsg
	gpgsign = false
[gpg]
	program = gpg2
[init]
	templatedir = ~/.git-templates
[http]
	sslVerify = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@git.irvinlim.com:2222/"]
	insteadOf = https://git.irvinlim.com/
[url "gitlab@git.garena.com:"]
	insteadOf = https://git.garena.com/
