root = true

#
# Global .editorconfig, which should be respected by all IDEs.
# All files default to using spaces with tab size of 4.
#

[*]
indent_size = 4
indent_style = space

# Prettier's defaults uses spaces for JS.
[*.{js,json}]
indent_size = 4
indent_style = space

# PEP8 recommends using spaces.
[*.{py}]
indent_size = 4
indent_style = space

# Gofmt uses tabs.
[*.{go}]
indent_size = 4
indent_style = tab

# YAML is easier to read with smaller tabs.
[*.{yml,yaml}]
indent_size = 2
indent_style = space

# Haskell has indentation rules using spaces.
[*.{hs}]
indent_size = 2
indent_style = space
