<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppSleepDisabled</key>
	<true/>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 224.000000, 258.000000, NO, NO</string>
		<string>0.000000, 259.000000, 224.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>SULastCheckTime</key>
	<date>2018-12-10T09:33:49Z</date>
	<key>SULastProfileSubmissionDate</key>
	<date>2018-12-10T09:33:49Z</date>
	<key>SUScheduledCheckInterval</key>
	<real>10800</real>
	<key>SUSendProfileInfo</key>
	<true/>
	<key>app_switcher_window_previews</key>
	<false/>
	<key>blurry_background</key>
	<false/>
	<key>deactivate_animation</key>
	<integer>0</integer>
	<key>fullscreen_preview</key>
	<false/>
	<key>hs_theme</key>
	<integer>0</integer>
	<key>not_first_launch</key>
	<true/>
	<key>run_in_background</key>
	<true/>
	<key>send_debugging_statistics</key>
	<false/>
	<key>shift_to_cycle_backwards</key>
	<false/>
	<key>welcome_window_shown</key>
	<true/>
	<key>window_switcher_current_app_mod</key>
	<integer>2</integer>
	<key>window_switcher_mod</key>
	<integer>2</integer>
</dict>
</plist>
